@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background-color: gainsboro;
}

header {
    background-color: #333333;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h1 {
    color: gainsboro;
    text-decoration: underline;
}

.header-link {
    color: gainsboro;
    text-decoration: none;
}

h2 {
    color: #333333;
}

ul, ol, p {
    line-height: 1.5
}

a {
    color: #333333;
}

ol > li {
    margin-bottom: 1rem;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    background-color: gainsboro;
}

footer p {
    margin: 0;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.prev-page, .next-page {
    background-color: #333333;
    color: gainsboro;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    margin: 0 0.5rem;
    width: 200px;
    border-radius: 20px;
}

.prev-page:hover, .next-page:hover {
    background-color: dimgray;
}

img {
  max-width: 100%;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
