@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap');

:root {
    --background-color: gainsboro;
    --text-color: #333333;
    --header-bg-color: dimgray;
    --font-family: 'Ubuntu', sans-serif;
    --button-bg-color: var(--text-color);
    --button-text-color: var(--background-color);
    --button-hover-bg-color: dimgray;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #333333;
        --text-color: gainsboro;
    }
}

body {
    font-family: var(--font-family), sans-serif;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--header-bg-color);
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h1 {
    color: gainsboro;
    text-decoration: underline;
}

.header-link {
    color: gainsboro;
    text-decoration: none;
}

h2 {
    color: var(--text-color);
}

ul, ol, p {
    line-height: 1.5;
}

a {
    color: var(--text-color);
}

ol > li, li > ul {
    margin-bottom: 1rem;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    background-color: var(--background-color);
}

footer p {
    margin: 0 0 0.5rem;
    font-weight: bold;
    color: var(--text-color);
}

.prev-page, .next-page {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    margin: 0 0.5rem;
    width: 200px;
    border-radius: 20px;
}

.prev-page:hover, .next-page:hover {
    background-color: var(--button-hover-bg-color);
}

img {
    max-width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}